<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>[[[longtitle]]]</title>
[[[stylesheet:209acdaa2119f980d7420ad9e91e1535,screen]]] [[[stylesheet:709b19cf65ffa41226027389cd8ce4ed,print]]]
</head>
<body>
<div id="coolbarcontainer">[[[coolbar]]]</div>
<div id="pagecontainer">
<div id="page">
<div id="header"><a href="/">Your Site Name</a></div>
<div id="hormenu">[[[hormenu]]]</div>
<div id="left">[[[vermenutwolevel]]]</div>
<div id="main">
<div id="content">[[[clickpath]]]
<h1>[[[longtitle]]]</h1>
[[[content]]]</div>
</div>
<div class="clear">
<div id="footer">Your Footer Here</div>
</div>
</div>
</div>
</body>
</html>